Repository storyblok/monoblok, pull requests merged in 2025-07, with the labels that each got.

#179 fix(cli): handle uniqueness for nested presets with hierarchical keys
  packages/cli/src/commands/components/push/graph-operations/__tests__/graph-integration.test.ts
  packages/cli/src/commands/components/push/graph-operations/__tests__/test-data.ts
  packages/cli/src/commands/components/push/graph-operations/dependency-graph.ts
  packages/cli/src/commands/components/push/index.ts
Labels: bugfix

#181 fix(cli): remove unnecesary auth on types generate for CI
  packages/cli/src/commands/types/generate/index.ts
Labels: bugfix, cli

#163 feat: storyblok cli create cmd
  packages/cli/package.json
  packages/cli/src/README.md
  packages/cli/src/commands/create/README.md
  packages/cli/src/commands/create/actions.test.ts
  packages/cli/src/commands/create/actions.ts
  packages/cli/src/commands/create/constants.ts
  packages/cli/src/commands/create/index.test.ts
  packages/cli/src/commands/create/index.ts
  packages/cli/src/commands/spaces/actions.ts
  packages/cli/src/commands/spaces/index.ts
  packages/cli/src/commands/types/command.ts
  packages/cli/src/constants.ts
  packages/cli/src/github.ts
  packages/cli/src/index.ts
  packages/cli/src/utils/error/api-error.ts
  packages/cli/src/utils/format.ts
  pnpm-lock.yaml
Labels: p3-significant, cli

#185 fix(vue): replace underscores with dashes in component names for impr…
  packages/vue/src/components/StoryblokComponent.vue
Labels: p2-edge-case, vue, bugfix

#167 feat: 115-implement-storyblok-datasources-pull-command
  .vscode/launch.json
  packages/cli/src/commands/components/pull/constants.ts
  packages/cli/src/commands/datasources/README.md
  packages/cli/src/commands/datasources/command.ts
  packages/cli/src/commands/datasources/constants.ts
  packages/cli/src/commands/datasources/index.ts
  packages/cli/src/commands/datasources/pull/README.md
  packages/cli/src/commands/datasources/pull/actions.test.ts
  packages/cli/src/commands/datasources/pull/actions.ts
  packages/cli/src/commands/datasources/pull/constants.ts
  packages/cli/src/commands/datasources/pull/index.ts
  packages/cli/src/constants.ts
  packages/cli/src/index.ts
  packages/cli/src/utils/error/api-error.ts
Labels: p3-significant, cli

#199 feat: release-cli-v-4-2
  .vscode/launch.json
  packages/cli/src/api.ts
  packages/cli/src/commands/components/constants.ts
  packages/cli/src/commands/components/pull/actions.ts
  packages/cli/src/commands/components/pull/constants.ts
  packages/cli/src/commands/components/push/README.md
  packages/cli/src/commands/components/push/actions.ts
  packages/cli/src/commands/components/push/graph-operations/__tests__/graph-integration.test.ts
  packages/cli/src/commands/components/push/graph-operations/__tests__/test-data.ts
  packages/cli/src/commands/components/push/graph-operations/dependency-graph.ts
  packages/cli/src/commands/components/push/graph-operations/index.ts
  packages/cli/src/commands/components/push/graph-operations/types.ts
  packages/cli/src/commands/components/push/index.ts
  packages/cli/src/commands/components/push/utils.ts
  packages/cli/src/commands/datasources/README.md
  packages/cli/src/commands/datasources/command.ts
  packages/cli/src/commands/datasources/constants.ts
  packages/cli/src/commands/datasources/delete/README.md
  packages/cli/src/commands/datasources/delete/actions.test.ts
  packages/cli/src/commands/datasources/delete/actions.ts
  packages/cli/src/commands/datasources/delete/constants.ts
  packages/cli/src/commands/datasources/delete/index.test.ts
  packages/cli/src/commands/datasources/delete/index.ts
  packages/cli/src/commands/datasources/index.ts
  packages/cli/src/commands/datasources/pull/README.md
  packages/cli/src/commands/datasources/pull/actions.test.ts
  packages/cli/src/commands/datasources/pull/actions.ts
  packages/cli/src/commands/datasources/pull/constants.ts
  packages/cli/src/commands/datasources/pull/index.ts
  packages/cli/src/commands/datasources/push/README.md
  packages/cli/src/commands/datasources/push/actions.test.ts
  packages/cli/src/commands/datasources/push/actions.ts
  packages/cli/src/commands/datasources/push/constants.ts
  packages/cli/src/commands/datasources/push/index.ts
  packages/cli/src/commands/languages/index.test.ts
  packages/cli/src/commands/types/generate/actions.ts
  packages/cli/src/commands/types/generate/index.test.ts
  packages/cli/src/commands/types/generate/index.ts
  packages/cli/src/constants.ts
  packages/cli/src/index.ts
  packages/cli/src/utils/error/api-error.ts
  packages/cli/src/utils/filesystem.ts
Labels: cli

#197 fix(nuxt): explicit useAsyncStoryblok result type
  packages/nuxt/package.json
  packages/nuxt/playground/package.json
  packages/nuxt/playground/pages/[...slug].vue
  packages/nuxt/src/module.ts
  packages/nuxt/src/runtime/composables/useAsyncStoryblok.ts
  packages/nuxt/src/types/index.ts
  pnpm-lock.yaml
Labels: nuxt

#209 docs: update datasources intro readme
  packages/cli/src/commands/datasources/README.md
Labels: cli

#226 refactor(cli): use mapi client on migrations
  packages/cli/src/commands/migrations/run/index.test.ts
  packages/cli/src/commands/migrations/run/index.ts
  packages/cli/src/commands/stories/actions.test.ts
  packages/cli/src/commands/stories/actions.ts
  packages/cli/src/constants.ts
Labels: cli

#216 feat(richtext): markdown to storyblok richtext utility
  packages/richtext/README.md
  packages/richtext/eslint.config.js
  packages/richtext/package.json
  packages/richtext/playground/astro/public/test.md
  packages/richtext/playground/astro/src/pages/index.astro
  packages/richtext/playground/node/index.mjs
  packages/richtext/playground/vanilla/public/test.md
  packages/richtext/playground/vanilla/src/main.ts
  packages/richtext/src/index.ts
  packages/richtext/src/markdown-parser.test.ts
  packages/richtext/src/markdown-parser.ts
  pnpm-lock.yaml
Labels: richtext
